/* Your Css */

html, body{
	background: #e7e9eb;
	color: #555555;
}

/* typography */

h1{
	line-height: 18px;
	text-align: center;
}

label.submit{
	text-align: right;
	color: #527988;
}

input[type=submit]{
	color: #527988;
	font-weight: bold;
}


/* structure */

#content{
	width: 260px;
	margin: 200px auto;
	position: relative;
}

.folio{
	width: 260px;
	padding: 20px;
	border: 1px solid #cecfd1;
	background: #fdfdfd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

header{
	padding-bottom: 20px;
	border-bottom: 1px solid #cecfd1;	
}

#poll{
	padding: 20px 0;
}

label{
	padding:5px 10px;
	background: #f2f5f7;
	line-height: 12px;
	display: block;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 12px;
}

label.submit{
	background: none;
	padding: 20px 0 0 0;
	display: block;
	margin-bottom: 0;
}

input{
	margin-right: 10px;
}

input[type=submit]{
	margin-left: 10px;
	padding: 8px 13px;
	background-color: #edf6f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#edf6f9), to(#cfe6ee));
	background-image: -webkit-linear-gradient(top, #edf6f9, #cfe6ee);
	background-image:    -moz-linear-gradient(top, #edf6f9, #cfe6ee);
	background-image:     -ms-linear-gradient(top, #edf6f9, #cfe6ee);
	background-image:      -o-linear-gradient(top, #edf6f9, #cfe6ee);
	background-image:         linear-gradient(top, #edf6f9, #cfe6ee);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border: 1px solid #b6cbd1;
}

